@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width:502px;
    height:131px;
    padding: 30px 50px 0px 50px;
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width:502px;
    height:80px;
    padding: 5px 50px;
}

.topic {
    background: lightgray;
    /*add CSS here*/
    width:90px;
    height:30px ;
    padding-top: 5px;
    margin: 1 ;
    display: inline-block;
    margin: 80px;
}